!!!
%html
  %head
    = render 'layouts/head'
  %body
    = render 'layouts/messages'
    %header
      = render 'layouts/navigation'
    %main{role: 'main'}
      .container
        = yield
    %footer
      = render 'layouts/footer'
